.container {
    padding:1rem 2rem 0;
    position: relative;

    h1 {
        margin-top: 3rem;
    }

    &.no-nav {
        height: calc(100% - 3.5rem);
    }

    &.has-nav {
        padding-bottom: 6rem;
    }
}

.langTool {
    display: flex;

    > button {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 3px;
        overflow: hidden;
        border: 0;
        background: transparent;
        font-size: 0.825rem;
        cursor: pointer;
        transition: color 0.3s cubic-bezier(.82, .1, .14, 2.12);
        text-align: center;
        padding: 0;

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }

        &.active {
            color: #f16500;
            font-style: italic;
        }

        &:not(.active):hover,
        &:not(.active):focus {
            color: #f16500;
        }
    }
}

.footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.825rem;
}

@media screen and (min-width: 700px) {
    .container {
        max-width: 1140px;
        padding: 0 3rem;
        margin: 0 auto;
        height: calc(100% - 3.1rem);

        article {
            max-width: 700px;
        }
    }

    footer {
        margin-top: 10rem;
    }
}