.container {
    padding:3rem 1rem 0;
    height: calc(100% - 5.5rem);
    overflow: auto;
}

@media screen and (min-width: 700px) {
    .container {
        max-width: 1140px;
        padding: 0 3rem;
        margin: 0 auto;
    }
}