/**
 * Component: Terminal
 */

.terminal {
    font-family: Consolas, 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 6rem;
    left: 3rem;
    right: 3rem;
}

.terminal > header {
    border: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(#eee, #ddd);
    color: #222;
    padding: 3px 1rem;
}

.terminal > article {
    background: #444;
    border: 1px solid #111;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    color: #eee;
    padding: 1rem;
}