.header {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 9998;
    width: 100%;
}

.page_title {
    font-weight: 400;    
    position: relative;
    font-size: 1.3rem;
    color: black;
    display: inline-block;
    
    &::after {
        content: "\02022";
        position: absolute;
        color: #f00;
        top: 0.5rem;
    }
}

@media screen and (min-width: 700px) {
    .header {
        position: static;
        padding: 1rem 0 3rem;
    }
}

@media (prefers-color-scheme: dark) {
    .header {
        background: #333;
    }

    .page_title {
        color: #eee;
    }
}