.header {
    padding: 0 0 1rem;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 9997;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (prefers-color-scheme: dark) {
        background: #333;
    }

    @media screen and (min-width: 700px) {
        padding-top: 1rem;
    }
}

.siteName {
    font-weight: 400;    
    position: relative;
    font-size: 1.3rem;
    color: black;
    display: inline-block;
    padding: 0.3rem 0 0;
    
    &::after {
        content: "\02022";
        position: absolute;
        color: #f00;
        top: 0.5rem;
    }
    
    @media (prefers-color-scheme: dark) {
        color: #eee;
    }
    @media screen and (min-width: 700px) {
        padding: 0;
    }
}
