* {
  box-sizing: border-box;
}

html {
    background-color: #fefefe;
    font-size: 16px;
}

body {
  margin: 0;
  color: #444;
}

a {
  text-decoration: none;
  color: #01689A;
}

article a {
  border-bottom: 1px dotted;
}

article {
  letter-spacing: 1px;
  line-height: 1.4;
}

ul, ol { margin: 0; padding: 0; }

p {
  margin: 0 0 2rem;
}

/* Icon */
.icon.icon-i { display: inline-block; }
.icon.icon-s { --ggs: 0.7}